<!-- src/app/components/todo/todo.component.html -->
<h1 class="mb-4 d-flex justify-content-center bg-dark bg-gradient text-light">Todo App</h1>
<div class="todo-app container">

  <!-- Add New Todo Form Group with Validation -->

  <div class="form-group">
    <label for="newTodoTitle">Adicionar nova tarefa</label>
    <input 
      type="text"
      id="newTodoTitle"
      class="form-control"
      [(ngModel)]="newTodoTitle"
      [ngClass]="{'is-invalid': formSubmitted && !newTodoTitle.trim(), 'is-valid': formSubmitted && newTodoTitle.trim()}"
      (keyup.enter)="addTodo()"
      required
    />
    <div *ngIf="formSubmitted && !newTodoTitle.trim()" class="invalid-feedback">
      O campo não pode ser vazio.
    </div>
  </div>



  <button class="btn btn-primary mt-2" (click)="addTodo()">Adicionar</button>


  <div class="mt-4">
    <div class="btn-group w-100 " role="group" aria-label="Basic radio toggle button group">
      <input  type="radio" class="btn-check bg-warning" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="setFilter('all')">
      <label class="btn btn-outline-primary" for="btnradio1">Todas</label>
    
      <input type="radio" class="btn-check " name="btnradio" id="btnradio2" autocomplete="off" (click)="setFilter('pending')">
      <label class="btn btn-outline-warning" for="btnradio2">Pendentes</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="setFilter('completed')">
      <label class="btn btn-outline-success" for="btnradio3">Concluidas</label>
    </div>
  </div>

  <!-- Todo List -->
  <ul class="list-group mt-4">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo of getFilteredTodos()">
      <div class="d-flex align-items-center">
        <input class="mx-2"
          type="checkbox" 
          [checked]="todo.completed" 
          (change)="toggleTodoCompletion(todo)"
          *ngIf="editingTodoId !== todo.id"
        />
        <span [ngClass]="{'completed': todo.completed}" *ngIf="editingTodoId !== todo.id">{{ todo.title }}</span>
        <input 
          *ngIf="editingTodoId === todo.id"
          class="form-control ms-2 shadow-none"
          [(ngModel)]="editedTodoTitle"
          [ngClass]="{'is-invalid': editFormSubmitted && !editedTodoTitle.trim(), 'is-valid': editFormSubmitted && editedTodoTitle.trim()}"
          (keyup.enter)="saveEditedTodo()"
          placeholder="Editar tarefa"
        />
        <hr>

      </div>

      <!-- Edit/Save/Delete Buttons -->
      <div class="d-flex justify-content-around me-2">
        <button class="btn btn-sm btn-secondary" *ngIf="editingTodoId !== todo.id" (click)="editTodo(todo)"><i class="bi bi-pencil" ></i></button>
        <button class="btn btn-sm btn-success" *ngIf="editingTodoId === todo.id" (click)="saveEditedTodo()">Salvar </button>
        <button class="btn btn-sm btn-danger" *ngIf="editingTodoId === todo.id" (click)="cancelEdit()">Cancelar</button>
        <button class="btn btn-sm btn-danger ml-2" (click)="deleteTodo(todo.id)"><i class="bi bi-trash"></i></button>
      </div>
    </li>
  </ul>
</div>
