<!-- src/app/components/todo/todo.component.html -->
<h1
  class="mb-4 d-flex justify-content-center bg-dark bg-gradient text-light pb-2"
>
  Todo App
</h1>
<div class="todo-app container">
  <!-- Add New Todo Form Group with Validation -->

  <div class="form-group">
    <label for="newTodoTitle">Adicionar nova tarefa</label>
    <input
      type="text"
      id="newTodoTitle"
      class="form-control"
      [(ngModel)]="newTodoTitle"
      [ngClass]="{
        'is-invalid': formSubmitted && !newTodoTitle.trim(),
        'is-valid': formSubmitted && newTodoTitle.trim()
      }"
      (keyup.enter)="addTodo()"
      required
    />
    <div *ngIf="formSubmitted && !newTodoTitle.trim()" class="invalid-feedback">
      O campo não pode ser vazio.
    </div>
  </div>

  <button class="btn btn-primary mt-2" (click)="addTodo()">Adicionar</button>

  <div class="mt-4">
    <div
      class="btn-group w-100"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check bg-warning"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
        (click)="setFilter('all')"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Todas</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        (click)="setFilter('pending')"
      />
      <label class="btn btn-outline-warning" for="btnradio2">Pendentes</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio3"
        autocomplete="off"
        (click)="setFilter('completed')"
      />
      <label class="btn btn-outline-success" for="btnradio3">Concluidas</label>
    </div>
  </div>


  <!-- Todo List -->
  <div class="list-group mt-3">
    <span class="list-group-item" *ngFor="let todo of getFilteredTodos()">
      <input
        *ngIf="editingTodoId === todo.id"
        class="form-control shadow-none"
        [(ngModel)]="editedTodoTitle"
        [ngClass]="{
          'is-invalid': editFormSubmitted && !editedTodoTitle.trim(),
          'is-valid': editFormSubmitted && editedTodoTitle.trim()
        }"
        (keyup.enter)="saveEditedTodo()"
        placeholder="Editar tarefa"
      />
  
        <div class="form-check">
          <input class="form-check-input"    [checked]="todo.completed" (change)="toggleTodoCompletion(todo)" type="checkbox" value="" *ngIf="editingTodoId !== todo.id" >
          <label class="form-check-label text-truncate" style="max-width: 230px;" triggers="hover focus" [popover]="todo.title" placement="right" [ngClass]="{ completed: todo.completed }"  
          *ngIf="editingTodoId !== todo.id && todo.title.length > 30"
          >
            {{todo.title}}
          </label>
          <label class="form-check-label" 
          *ngIf="editingTodoId !== todo.id && 30 >= todo.title.length" [ngClass]="{ completed: todo.completed }"
          >
        {{todo.title}}</label>
        </div>
        

      
  
      <div class="d-flex w-100 justify-content-between align-items-center mt-2">
        <small class="me-2 text-secondary">Data de conclusão: 3 days ago</small>
        <div class="gap-2 d-flex">
          <button
            class="btn btn-sm btn-secondary"
            *ngIf="editingTodoId !== todo.id"
            (click)="editTodo(todo)"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            class="btn btn-sm btn-success"
            *ngIf="editingTodoId === todo.id"
            (click)="saveEditedTodo()"
          >
            Salvar
          </button>
          <button
            class="btn btn-sm btn-danger"
            *ngIf="editingTodoId === todo.id"
            (click)="cancelEdit()"
          >
            Cancelar
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </span>
  </div>
  
  
</div>
