<!-- src/app/components/todo/todo.component.html -->
<h1
  class="mb-4 d-flex justify-content-center bg-dark bg-gradient text-light pb-2"
>
  Todo App
</h1>

<div class="todo-app container mb-3">
  <!-- Add New Todo Form Group with Validation -->
  <form #form="ngForm" (ngSubmit)="addTodo(form)">
    <!-- Campo para adicionar nova tarefa -->
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Adicionar nova tarefa</mat-label>
      <input
        matInput
        id="newTodoTitle"
        [(ngModel)]="newTodoTitle"
        name="todoTitle"
        #todoTitleInput="ngModel"
        required
      />
      <mat-error *ngIf="formSubmitted && todoTitleInput.invalid">
        O campo de nova tarefa é obrigatório.
      </mat-error>
    </mat-form-field>
  
    <!-- Campo para data de conclusão -->
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Data de conclusão</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="dataConclusao"
        name="dueDate"
        #dateInput="ngModel"
        required
        readonly
        [min]="today"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formSubmitted && dateInput.invalid">
        A data de conclusão é obrigatória.
      </mat-error>
    </mat-form-field>
  
    <!-- Botão para adicionar tarefa -->
    <button type="submit" class="btn btn-primary mt-2 w-100" >
      Adicionar
    </button>
  </form>


  <div class="mt-4">
    <div
      class="btn-group w-100"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check bg-warning"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
        (click)="setFilter('all')"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Todas</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        (click)="setFilter('pending')"
      />
      <label class="btn btn-outline-warning" for="btnradio2">Pendentes</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio3"
        autocomplete="off"
        (click)="setFilter('completed')"
      />
      <label class="btn btn-outline-success" for="btnradio3">Concluidas</label>
    </div>
  </div>


  <!-- Todo List -->
  <div class="list-group my-3">
    <span class="list-group-item" *ngFor="let todo of getFilteredTodos()">
      <mat-form-field *ngIf="editingTodoId === todo.id" appearance="outline" class="w-100 mt-1">
        <mat-label>Editar Tarefa</mat-label>
        <input
          matInput
          [(ngModel)]="editedTodoTitle"
          (keyup.enter)="saveEditedTodo()"
          placeholder="Editar tarefa"
          required
        />
        <mat-error *ngIf="editFormSubmitted && !editedTodoTitle.trim()">
          O título da tarefa é obrigatório.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field cla *ngIf="editingTodoId === todo.id" appearance="outline" class="w-100 mt-1">
        <mat-label>Editar Data</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [ngModel]="todo.data"
          (ngModelChange)="editedDataConclusao = $event"
          readonly 
          required
          [min]="today"    
          #dateInput="ngModel"
             />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="editFormSubmitted && dateInput.invalid">
          A data de conclusão é obrigatória.
        </mat-error>
      </mat-form-field>
      
  
        <div class="form-check">
          <input class="form-check-input"    [checked]="todo.completed" (change)="toggleTodoCompletion(todo)" type="checkbox" value="" *ngIf="editingTodoId !== todo.id" >
          <label class="form-check-label text-truncate" style="max-width: 230px;" triggers="hover focus" [popover]="todo.title" placement="right" [ngClass]="{ completed: todo.completed }"  
          *ngIf="editingTodoId !== todo.id && todo.title.length > 30"
          >
            {{todo.title}}
          </label>
          <label class="form-check-label" 
          *ngIf="editingTodoId !== todo.id && 30 >= todo.title.length" [ngClass]="{ completed: todo.completed }"
          >
        {{todo.title}}</label>
        </div>

      
  
      <div class="d-flex w-100 justify-content-between align-items-center mt-2">
        <small class="text-secondary" *ngIf="!todo.completed">
          Data de conclusão: 
          <span [ngStyle]="{ 'color': getDateStatusColor(todo.data) }">
            {{ todo.data | dateStatus }}
          </span>  
        </small>

        <small *ngIf="todo.completed" class="text-secondary">Data de conclusão: 
          <span class="text-success">Concluída</span>
        </small>
        
        <div class="gap-2 d-flex">
          <button
            class="btn btn-sm btn-secondary"
            *ngIf="editingTodoId !== todo.id"
            (click)="editTodo(todo)"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            class="btn btn-sm btn-success"
            *ngIf="editingTodoId === todo.id"
            (click)="saveEditedTodo()"
          >
            Salvar
          </button>
          <button
            class="btn btn-sm btn-danger"
            *ngIf="editingTodoId === todo.id"
            (click)="cancelEdit()"
          >
            Cancelar
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </span>
  </div>
  
  
</div>
